<h1>Kitten Me</h1>

(.=^・ェ・^=) &nbsp; * &nbsp; (=^･^=) &nbsp; * &nbsp; (=･ｪ･=? &nbsp; * &nbsp; (ृ˄·͈༝·͈˄ ृ )

<p>&nbsp;</p>

<h4>Kitten me once</h4>    
<pre>GET /random</pre>

<p>&nbsp;</p>

<h4>Get a kitten bomb</h4>
<pre>GET /bomb?count=3</pre>
