<h1>Kitten Me</h1>

(.=^・ェ・^=) &nbsp; * &nbsp; (=^･^=) &nbsp; * &nbsp; (=･ｪ･=? &nbsp; * &nbsp; (ृ˄·͈༝·͈˄ ृ )

<p>&nbsp;</p>

<h2>API</h2>
<h4>Kitten me once</h4>    
<pre>GET /random</pre>

<p>&nbsp;</p>

<h4>Get a kitten bomb</h4>
<pre>GET /bomb?count=3</pre>

<p>&nbsp;</p>

<h2>Playground</h2>

<button class="kitten">Get a kitten</button>
<button class="kitten-bomb">Kitten bomb</button>

<div class="result"></div>

<p>Authored by <a href="http://www.nessanguyen.com/">myfashionhub</a></p>
